@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  font-family: "Pacifico", cursive;
  font-size: 18px;
}
.col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: #000;
}
.endlinks {
  padding: 10px;
}
.main_photos {
  margin: 10px;
}
