* {
  font-family: cursive;
  font-size: 18px;
}
.col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: #000;
}
a:hover {
  color: red;
}
.endlinks {
  padding: 10px;
}
.main_photos {
  margin: 10px;
}
